@keyframes animacao {
    from {border-bottom: 0px solid var(--white-color); width: 0%;}
    to {border-bottom: 1px solid var(--white-color); width: 100%;}
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('PPNeueMontreal-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue-Montreal';
    src: url('PPNeueMontreal-Thin.otf') format('opentype'); 
}

:root {
    --white-color: rgb(233, 230, 230);
    --black-color: rgb(34, 34, 34);
    --grey-color: rgba(255, 255, 255, 0.5);
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black-color);
    font-family: 'Neue Montreal', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-user-select: none;
    user-select: none;
}


header {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(9vh, -600px);
    color: var(--white-color);
    -webkit-user-select: none;
    user-select: none;
}

main {
    position: absolute;
    top: 0;
    font-family: 'Neue-Montreal';
    color: var(--white-color);
    font-size-adjust: 0.5;
    font-size: 4vw;
    transform: translate(260px, 80px);
}

aside {
    background-color: rgba(0, 0, 0, 0.2);
    border: .1px solid var(--grey-color);
    color: var(--white-color);
    position: fixed;
    right: 0;
    transform: translate(-9vw, -510px);
    height: 25vw;
    width: 17vw;
    min-width: 200px;
    max-width: 300px;
    min-height: 400px;
    max-height: 400px;
    font-family: 'Neue Montreal';
    padding: 5px;
    padding-right: 90px;
    text-align: start;
    letter-spacing: 1px;
    backdrop-filter: blur(2px);
}

.btn-menu {
    background-color:rgba(29, 29, 29, 0.1);
    color: var(--white-color);
    border: none;
    font-family: 'Neue Montreal';
    font-size: 15px;
    line-height: 1.7;
    margin-top: 2vh;
    position: relative;
    transform: translate(27px, 10px);
    text-align: start;
    cursor: pointer;
}

.btn-menu:hover {
    color: var(--grey-color);
    transition-duration: .4s;
}

.btn-menu:focus, .btn-menu:active {
   animation-name: animacao;
   animation-duration: 1s;
   animation-fill-mode: forwards;
   text-align: start;
   animation-iteration-count: 1;
}

#btn-language {
    border: none;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: 'Neue Montreal';
    font-style: italic;
    transform: translate(180px, 880px);
    position: fixed;
    font-size: medium;
    max-width: fit-content;
    cursor: pointer;
}

#btn-language:hover {
    color: var(--grey-color);
    transition-duration: .4s;
}

#btn-language:active {
    color: var(--white-color);
}


#small-text {
    font-size: 1.5vw;
    font-style: italic;
    color: rgba(233, 230, 230, 0.8);
}

#conteudo-centro {
    background-color: var(--black-color);
    width: 90vw;
    height: 840px;
    margin: 4vh 5vh 5vh 7vh;
    border: 1px solid var(--grey-color);
    z-index: 0;
}

#barra-esquerda {
    border: 1px solid var(--grey-color);
    width: 60px;
    height: 835px;
    transform: translate(13px, -810px);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    backdrop-filter: blur(2px);
}

#quadrado-barra {
    border: 1px solid var(--grey-color);
    width: 73px;
    height: 73px;
    transform: translate(13px, -830px);
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    backdrop-filter: blur(1px);
}

#js-lateral {
    position: absolute;
    font-style: italic;
    transform: translate(-20px, 780px) rotate(-90deg);
    color: var(--white-color);

}

#linha-diagonal1 {
    border-right: 1px solid rgba(233, 230, 230, 0.3);
    position: fixed;
    transform: translate(64px, -2px) rotate(32deg);
    height: 24px;
    filter: blur(1px);
    
}

#linha-diagonal2 {
    border-right: 1px solid var(--grey-color);
    position: fixed;
    transform: translate(64px, 69px) rotate(45deg);
    height: 18px;
}

#particles-js {
    display: flex;
    position: relative;
    height: 839px;
    width: 100%;
}

