@keyframes animacao {
    from {
        border-bottom: 0px solid var(--white-color);
        width: 0%;
    }

    to {
        border-bottom: 1px solid var(--white-color);
        width: 100%;
    }
}

@keyframes ani-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('PPNeueMontreal-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue-Montreal';
    src: url('PPNeueMontreal-Thin.otf') format('opentype');
}



:root {
    --white-color: rgb(233, 230, 230);
    --black-color: rgb(34, 34, 34);
    --grey-color: rgba(255, 255, 255, 0.5);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black-color);
    font-family: 'Neue Montreal', sans-serif;
    color: white;
    -webkit-user-select: none;
    user-select: none;
}

header {
    display: flex;
    flex-direction: column;
    top: 0;
    margin-top: 250px;
    margin-left: 80px;
    color: var(--white-color);
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
    transition: transform .8s;
    z-index: 3;
}

aside {
    color: white;
    position: fixed;
    right: 0;
    transform: translate(-9vw, -510px) skew(0deg, 0deg);
    height: 25vw;
    width: 200px;
    min-height: 400px;
    max-height: 400px;
    font-family: 'Neue Montreal';
    padding: 5px 70px 5px 5px;
    text-align: start;
    letter-spacing: 1px;
    backdrop-filter: blur(2px);
    display: none;
    border-left: 1px solid var(--white-color);

}

header button {
    background-color: rgba(29, 29, 29, 0.1);
    color: var(--white-color);
    border: none;
    font-family: 'Neue Montreal';
    font-size: 15px;
    line-height: 1.7;
    margin-top: 17px;
    position: relative;
    transform: translate(27px, 10px);
    text-align: start;
    cursor: pointer;
}

header button:hover {
    color: var(--grey-color);
    transition-duration: .4s;
}

header button:focus,
header button:active {
    animation-name: animacao;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    text-align: start;
    animation-iteration-count: 1;
}

label {
    position: fixed;
    color: var(--white-color);
    backdrop-filter: blur(10px);
    font-family: "Neue-Montreal";
    width: 250px;
    transform: translate(300px, 15px);
    z-index: 4;
}


.asideShow {
    display: block;
    animation-name: ani-opacity;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    scale: .90;
}

#btn-language {
    border: none;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: 'Neue Montreal';
    font-style: italic;
    position: absolute;
    font-size: medium;
    max-width: fit-content;
    cursor: pointer;
    margin: 93vh 0px 30px 150px;
}

#btn-language:hover {
    color: var(--grey-color);
    transition-duration: .4s;
}

#btn-language:active {
    color: var(--white-color);
}

#nome-text {
    position: absolute;
    top: 0;
    font-family: 'Neue-Montreal';
    color: var(--white-color);
    font-size: 45px;
    transform: translate(260px, 80px);
    transition: opacity .5s;
}

#small-text {
    font-size: 23px;
    font-style: italic;
    color: rgba(233, 230, 230, 0.8);
}

#conteudo-centro {
    background-color: var(--black-color);
    width: 93vw;
    height: 92.80vh;
    margin: 30px;
    border: 1px solid var(--grey-color);
    z-index: 1;
}

#bar {
    position: fixed;
    margin: 10px 0px 50px 43px;
    height: 90vh;
    width: 80px;
    z-index: 2;
}

.barra-esquerda {
    border: 1px solid var(--grey-color);
    width: 55px;
    margin-top: 20px;
    height: 91.59vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    transition: .8s ease-in-out;
    z-index: 0;
}

.barra-esquerdaClicked {
    border: 1px solid var(--grey-color);
    width: 50vw;
    max-width: 700px;
    margin-top: 20px;
    height: 91.59vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: end;
    padding: 80px 20px 30px 200px;
}


.menu-project {
    position: fixed;
    width: 250px;
    opacity: 0;
    list-style: none;
    margin-top: -40px;
    overflow-x: auto;
}

.menu-project::-webkit-scrollbar {
    display: none;
}

.img-project {
    position: relative;
    height: 120px;
    width: 250px;
    float: right;
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 3; 
    margin: 20px 0px 40px 0; 
}

.quadrado-barra {
    border: 1px solid var(--grey-color);
    width: 68px;
    height: 68px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    backdrop-filter: blur(1px);
    transition: .8s ease-in-out;
}

.quadrado-barraClicked {
    border: 1px solid var(--grey-color);
    width: 68px;
    height: 15px !important;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
    transform: translate(0px, 0px);
}

#js-lateral {
    position: absolute;
    font-style: italic;
    transform: rotate(-90deg);
    color: var(--white-color);
    margin: 79vh 0 0 -53px;

}

#linha-diagonal1 {
    border-right: 1px solid rgba(233, 230, 230, 0.3);
    position: fixed;
    transform: translate(59px, 0px) rotate(32deg);
    height: 21px;
    filter: blur(1px);
    transition: opacity .2s ease-in-out;
}

#linha-diagonal2 {
    border-right: 1px solid var(--grey-color);
    position: fixed;
    transform: translate(59px, 64px) rotate(44deg);
    height: 19px;
    transition: opacity .2s ease-in-out;
}

#particles-js {
    display: flex;
    position: relative;
    height: 92.70vh;
    width: 100%;
}

@supports (display: flex) {
    @media(max-width: 800px) {
        header {
            margin-left: 40px;
        }

        label {
            display: none;
        }

        #conteudo-centro {
            margin: 0;
            height: 95.70vh;
        }

        #linha-diagonal1 {
            border-right: 1px solid rgba(233, 230, 230, 0.3);
            position: fixed;
            transform: translate(43px, -2px) rotate(32deg);
            height: 16px;
            filter: blur(1px);
        }

        #linha-diagonal2 {
            border-right: 1px solid var(--grey-color);
            position: fixed;
            transform: translate(43px, 47px) rotate(44deg);
            height: 13px;
        }

        .barra-esquerda {
            height: 94.20vh;
            width: 40px;
            margin-top: 14px;
        }

        .quadrado-barra {
            width: 50px;
            height: 50px;
        }

        #js-lateral {
            transform: rotate(-90deg) translate(0px, 8vw);
            display: none;
        }

        #btn-language {
            margin-left: 90px;
            margin-top: 95.70vh;
        }

        #nome-text {
            font-size: 30px;
            transform: translate(39vw, 90px);
            position: fixed;
        }

        #small-text {
            font-size: 15px;
        }

        #bar {
            transform: translate(-40px, 0px);
        }

        .asideShow {
            scale: 0.8;
        }

        .menu-project {
            width: 100%;
            display: flex;
            justify-content: end;

        }

        .barra-esquerdaClicked {
            width: 82vw;
        }

        .img-project {
            scale: .8;
        }
    }

}