@keyframes animacao {
    from {
        border-bottom: 0px solid var(--white-color);
        width: 0%;
    }

    to {
        border-bottom: 1px solid var(--white-color);
        width: 100%;
    }
}

@keyframes ani-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('PPNeueMontreal-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue-Montreal';
    src: url('PPNeueMontreal-Thin.otf') format('opentype');
}



:root {
    --white-color: rgb(233, 230, 230);
    --black-color: rgb(34, 34, 34);
    --grey-color: rgba(255, 255, 255, 0.5);
    --primary-color: rgb(17, 86, 102);
    --primary-color-darker: rgb(9, 48, 56);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--black-color);
    font-family: 'Neue Montreal', sans-serif;
    color: white;
    -webkit-user-select: none;
    user-select: none;
}

header {
    display: flex;
    flex-direction: column;
    top: 0;
    margin-top: 250px;
    margin-left: 80px;
    color: var(--white-color);
    -webkit-user-select: none;
    user-select: none;
    position: fixed;
}

aside {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(211, 210, 210, 0.3);
    color: rgba(235, 235, 235, 1);
    position: fixed;
    right: 0;
    transform: translate(-9vw, -510px) skew(0deg, 0deg);
    height: 25vw;
    width: 200px;
    min-height: 400px;
    max-height: 400px;
    font-family: 'Neue-Montreal';
    padding: 5px;
    text-align: start;
    letter-spacing: 1px;
    backdrop-filter: blur(2px);
    display: none;
}

.asideShow {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(211, 210, 210, 0.3);
    color: rgba(235, 235, 235, 1);
    position: fixed;
    right: 0;
    transform: translate(-9vw, -510px) skew(0deg, 0deg);
    height: 25vw;
    width: 200px;
    min-height: 400px;
    max-height: 400px;
    font-family: 'Neue-Montreal';
    padding: 5px;
    text-align: start;
    letter-spacing: 1px;
    backdrop-filter: blur(2px);
    display: block;
    animation-name: ani-opacity;
    animation-duration: .4s;
    animation-fill-mode: forwards;
}


header button {
    background-color: rgba(29, 29, 29, 0.1);
    color: var(--white-color);
    border: none;
    font-family: 'Neue Montreal';
    font-size: 15px;
    line-height: 1.7;
    margin-top: 17px;
    position: relative;
    transform: translate(27px, 10px);
    text-align: start;
    cursor: pointer;
}

header button:hover {
    color: var(--grey-color);
    transition-duration: .4s;
}

header button:focus,
header button:active {
    animation-name: animacao;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    text-align: start;
    animation-iteration-count: 1;
}

#btn-language {
    border: none;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: 'Neue Montreal';
    font-style: italic;
    transform: translate(180px, 880px);
    position: fixed;
    font-size: medium;
    max-width: fit-content;
    cursor: pointer;
}

#btn-language:hover {
    color: var(--grey-color);
    transition-duration: .4s;
}

#btn-language:active {
    color: var(--white-color);
}

#nome-text {
    position: absolute;
    top: 0;
    font-family: 'Neue-Montreal';
    color: var(--white-color);
    font-size: 50px;
    transform: translate(260px, 80px);
}

#small-text {
    font-size: 23px;
    font-style: italic;
    color: rgba(233, 230, 230, 0.8);
}

#conteudo-centro {
    background-color: var(--black-color);
    width: 90vw;
    height: 89.80vh;
    margin: 40px;
    border: 1px solid var(--grey-color);
    z-index: 1;
}

#bar {
    position: fixed;
    margin: 10px 0px 50px 50px;
    height: 90vh;
    width: 80px;
    z-index: 2;

}

#barra-esquerda {
    border: 1px solid var(--grey-color);
    width: 60px;
    margin-top: 20px;
    height: 89.49vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 0;
    backdrop-filter: blur(2px);
}

#quadrado-barra {
    border: 1px solid var(--grey-color);
    width: 73px;
    height: 73px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    backdrop-filter: blur(1px);
}

#js-lateral {
    position: absolute;
    font-style: italic;
    transform: translate(-20px, 780px) rotate(-90deg);
    color: var(--white-color);

}

#linha-diagonal1 {
    border-right: 1px solid rgba(233, 230, 230, 0.3);
    position: fixed;
    transform: translate(64px, -2px) rotate(32deg);
    height: 24px;
    filter: blur(1px);

}

#linha-diagonal2 {
    border-right: 1px solid var(--grey-color);
    position: fixed;
    transform: translate(64px, 69px) rotate(48deg);
    height: 17px;
}

#particles-js {
    display: flex;
    position: relative;
    height: 89.60vh;
    width: 100%;
}

@supports (display: flex) {
    @media(max-width: 670px) {
        #conteudo-centro {
            margin: 0;
            position: fixed;
        }

        #js-lateral {
            transform: translate(-55px, 780px) rotate(-90deg);
        }

        #btn-language {
            position: relative;
            transform: translate(100px, 860px);
        }

        #nome-text {
            font-size: 30px;
        }

        #small-text {
            font-size: 15px;
        }

        #bar {
            transform: translate(-40px, 0px);
        }

    }
}